torch
sentence_transformers
transformers 
langchain
langchain-community
langchain-huggingface
ctransformers
fastapi
uvicorn
pypdf
PyPDF2
jinja2
chroma
qdrant-client
python-multipart
aiofiles
huggingface_hub